.profile_edit_image {
  background-size: cover;
  background-position: center;
  width: 26px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  left: 47px;
  opacity: 0;
  z-index: 1;
}

.profile__image:hover > .profile_edit_image {
  opacity: 1;
  z-index: 9;
}
